[submodule "Modules/m1_orientation_client"]
	path = Modules/m1_orientation_client
	url = git@github.com:Mach1Studios/m1_orientation_client.git
[submodule "Modules/juce_murka"]
	path = Modules/juce_murka
	url = git@github.com:Kiberchaika/juce_murka.git
	branch = 1_0
[submodule "Modules/foleys_video_engine"]
	path = Modules/foleys_video_engine
	url = git@github.com:Mach1Studios/foleys_video_engine.git
	branch = mach1/develop
[submodule "JUCE"]
	path = JUCE
	url = git@github.com:juce-framework/JUCE.git
